footer{
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
        border-color: $borderColor;
    }

    .footer-container{
        width: 90%;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}