.hero{
    gap: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .hero-content{
        margin-top: 40px;
        width: 100%;
        text-align: center;
        h1{
            
            font-size: 48px;
            font-weight: 700;
        }
        p{
            margin-top: 15px;
        }

        .contact {
            margin-top: 24px;
            a {
                font-size: 16px;
                color: #fff;
                padding: 16px 12px;
                border-radius: 20px;
                background: #2349FF;

                &:hover {
                    background: #0f33e4;
                    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4);
                }
            }
        }
}

    
    .hero-img{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    @media (min-width: 768px){
        flex-direction: row;

        .hero-content{
            width: 50%;
            h1{
                font-size: 56px;
            }
            p{
                text-align: left;
                font-size: 20px;
            }
        }

            .hero-img {
                width: 50%;
            }
    }

    
}