.hero{
    gap: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .hero-content{
        margin-top: 40px;
        width: 100%;
        text-align: center;
        h1{
            
            font-size: 48px;
            font-weight: 700;
        }
        p{
            margin-top: 15px;
        }

        .hero-btns{
            padding-top: 50px;
            display: flex;
            justify-content: center;
            gap: 20px;
            .hero-btn {
                    a{
                        @include btn;
                    }
                }
        }

        
}

    
    .hero-img{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    @media (min-width: 768px){
        flex-direction: row;

        .hero-content{
            width: 50%;
            h1{
                font-size: 56px;
            }
            p{
                text-align: left;
                font-size: 20px;
            }
        }

            .hero-img {
                width: 50%;
            }
    }

    
}