.projects-section{
    padding-top: 50px;
    width: 90%;
    text-align: center;

    h2{
        font-size: 42px;
    }

    .projects-content{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;

        .project-card{
            margin: 0 auto;
            padding: 20px;
            border: 2px solid $borderColor;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            img{
                border-radius: 20px;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }

            h3{
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 28px;
            }
            p{
                margin-bottom: 30px;
            }

            .links{
            display: flex;
            justify-content: center;
            gap: 30px;
                    a {
                        @include btn;
                    }
                }
        }
    }

        @media (min-width: 1024px){
            .projects-content{
                grid-template-columns: repeat(2,1fr);
        }
    }
}